apiVersion: apps/v1
kind: Deployment
metadata:
  name: senseibird-web
  namespace: senseibird
  labels:
    app: senseibird
spec:
  replicas: 1
  selector:
    matchLabels:
      track: green
      app: senseibird
  template:
    metadata:
      labels:
        track: green
        app: senseibird
    spec:
      containers:
        - name: web
          # Imagen local dentro de Minikube:
          
          image: senseibird-web:1.0.0
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          env:
            # Puerto en runtime; Next.js suele usar 3000 por defecto
            - name: PORT
              value: "3000"
            - name: NEXT_PUBLIC_API_BASE_URL
              value: "http://senseibird-api:8000"
            - name: HOSTNAME
              value: "0.0.0.0"

          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
