backend:
  image: "senseibird-api:dev"
  replicas: 1
  port: 8000

frontend:
  image: "senseibird:dev"
  replicas: 1
  port: 3000

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"
