backend:
  image: "senseibird-backend:1.0.0"
  replicas: 1
  port: 8000

frontend:
  image: "senseibird-frontend:1.0.2"
  replicas: 1
  port: 3000

resources:
  limits:
    cpu: "200m"
    memory: "256Mi"
  requests:
    cpu: "100m"
    memory: "128Mi"

config:
  DATABASE_URL: "sqlite:///app.db"
