frontend:
  image: "senseibird:dev"
  replicas: 1
  port: 3000

backend:
  image: "senseibird-api:dev"
  replicas: 1
  port: 8000

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
